<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Make a reservation</h4>
  </div>
  <div class="panel-body">
    <%= form_for [@restaurant, @reservation] do |f| %>
      <div class="form-group">
      <%= f.label :start_time %><br>
      <%= f.datetime :start_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :party_size %><br>
      <%= f.integer :party_size, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>