<p>
  <b>Name: </b>
  <%= @restaurant.name %>
</p>
<p>
  <b>Description: </b>
  <%= @restaurant.description %>
</p>
<p>
  <b>Cuisine: </b>
  <%= @restaurant.cuisine %>
</p>
<p>
  <b>Location: </b>
  <%= @restaurant.location %>
</p>
<p>
  <b>Phone #: </b>
  <%= @restaurant.phone_number %>
</p>
<p>
  <b>Hours Open: </b>
  <%= @restaurant.hours_open %>
</p>
<p>
  <b>Maximum Occupancy: </b>
  <%= @restaurant.max_occupancy %>
</p>

<% if current_owner %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> 
<% end %>
<% if current_customer %>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4>Make a reservation</h4>
  </div>
  <div class="panel-body">
    <%= form_for [@restaurant, @reservation] do |f| %>
      <div class="form-group">
      <%= f.label :start_time %><br>
      <%= f.number_field :start_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :party_size %><br>
      <%= f.number_field :party_size, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
  <%= link_to 'Back', restaurants_path %>
<% end %>

